*.js linguist-language=java//将.js结尾的文件当做java文件
*.css linguist-language=java//将.css结尾的文件当做java文件
*.html linguist-language=java//将.html结尾的文件当做java文件
*.ftl linguist-language=java//将.ftl结尾的文件当做java文件
*.vue linguist-language=java//将.vue结尾的文件当做java文件