@charset "utf-8";
/*goods-list by cn666 start*/
.goods-list li .good-price .des-other .icon-gai,.goods-list li .good-price .des-other .icon-fan,.goods-list li .good-price .btn a em,.goods-list li.hover .good-price .btn a,.goods-list li .good-price .btn.start a,.goods-list li .good-price .btn.start_1 a,.goods-list li .like-ceng .iphone-ico{background:url(../images/list-total.png) no-repeat}
.goods-list{ margin:0px auto 0}
.goods-list li{width:284px;background:#FFF;float:left;margin:0 14px 14px 0;border:#ffd2e8 solid 1.5px}
.goods-list li .good-pic {width:284px; margin:auto 0; position:relative; height:284px}
.goods-list li .pic-img{ height:284px; overflow:hidden; text-align:center; width:284px; display:table-cell; vertical-align:middle}
.goods-list li .pic-img img{ max-width:284px;max-height:284px}
.goods-list li .pic-img:hover{ text-decoration:none; cursor:pointer}
.goods-list li .buy-over{cursor:pointer;position:relative;display:block;position:absolute;top:80px;left:80px;background:url(../images/buy-over.png) no-repeat;height:0;width:120px;padding-top:120px;overflow:hidden;z-index:15}
.goods-list li .buy-over.brand{background:url(../images/buy-over-brand.png) no-repeat}
.goods-list li .buy-over a{display:block;position:absolute;bottom:25px;left:30px;color:#ffff66;font-size:14px}
.goods-list li .list-good {position:relative; width:285px; height:auto; z-index:1}
.goods-list li .good-title {width:270px;height:35px; line-height:18px;overflow:hidden;margin:10px 10px 10px 5px;  font-weight:400;color:#333}
.goods-list li .good-title a{ display:inline;color:#333;letter-spacing:1px}
.goods-list li .good-title a:hover{ text-decoration:underline; color:#333}
.goods-list li .good-title span.sold{display:block;color:#ca0909;position:absolute;top:314px;right:15px;background:#fff;width:60px;height:18px;text-align:right}
.goods-list li .good-titles {width:280px;height:35px; line-height:18px;overflow:hidden;margin:10px 10px 10px 5px;  font-weight:400;color:#333}
.goods-list li .good-titles a{ display:inline;color:#333;letter-spacing:1px}
.goods-list li .good-titles a:hover{ text-decoration:underline; color:#333}
.goods-list li .good-titles span.sold{display:block;color:#ca0909;position:absolute;top:314px;right:15px;background:#fff;width:60px;height:18px;text-align:right}
.brand{background:url(../images/brand.png) no-repeat 0 0}
.brand-new{background:url(../images/float-icon.png) no-repeat 0 0; padding-top:2px; height:35px; width:37px; color:#fff; text-align:center; line-height:14px;position:absolute;top:0; left:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',src="../images/float-icon.png")}
.brand-new.brand{background:url(../images/brand-icon.png) no-repeat 0 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',src="../images/brand-icon.png")}
/*this is good-price by cn666*/
.goods-list li .good-price { width:270px; height:48px;line-height:40px; position:relative;padding:10px 10px 0px 5px; z-index:10}
.goods-list li .good-price .price-current,.goods-list li .good-price .des-other{ display:block; float:left}
.goods-list li .good-price .price-current {font-size:40px;font-family:fantasy;    font-weight:600}
.goods-list li .good-price .price-current em {font-size:14px; font-family:"微软雅黑", serif; vertical-align:1px; margin-left:1px}
.price-current{ color:#ed145b}
.goods-list li .list-good.buy .good-price .price-current{ color:#ed145b}
.goods-list li .list-good.start .good-price .price-current{ color:#008800}
.goods-list li .list-good.gone .good-price .price-current{ color:#ccc}
/*this is des-other by cn666*/
.goods-list li .good-price .des-other{margin:2px 0 0 5px; height:40px; line-height:18px;width:100px}
.goods-list li .good-price .des-other strong{ width:auto; height:16px; display:block}
.goods-list li .good-price .des-other .icon-gai,.goods-list li .good-price .des-other .icon-fan,.goods-list li .good-price .des-other .icon-temai{display:block;  height:0;  overflow:hidden;float:left}
.goods-list li .good-price .des-other .icon-gai{ background:#A1D88D;width:70px;height:17px;color:#fff;font-weight:normal;text-align:center;line-height:17px}
.goods-list li .good-price .des-other .icon-fan{ background-position:-159px -17px; width:41px; padding-top:18px;margin-right:3px}
.goods-list li .good-price .des-other .price-old {color:#bbb; text-decoration:line-through;font-size:14px}
.goods-list li .good-price .des-other .price-old em{font-family:"微软雅黑", "verdana", serif;font-size:12px}
.goods-list li .good-price .des-other .discount { color:#bbb; vertical-align:top}
.goods-list li .good-price .btn{position:absolute;top:11px;right:10px}
.goods-list li .good-price .btn a{ font-family:"微软雅黑", serif;display:block;text-align:center;font-size:14px;cursor:pointer; color:#f8285c;width:70px;height:30px; line-height:30px;overflow:hidden}
.goods-list li .good-price .btn a em{display:inline;float:left;width:15px;height:15px;margin:8px -4px 0 12px;margin:7px -4px 0 12px \9;_margin:7px -4px 0 12px;vertical-align:-2px}
.goods-list li .good-price .btn a .m-icon{background-position:right -71px}
.goods-list li .good-price .btn a .b-icon{background-position:right -37px}
.goods-list li .good-price .btn a .j-icon{background-position:right -54px}
.goods-list li .good-price .btn a .t-icon{background-position:right -88px}
.goods-list li .good-price .btn.m-buy span{color:#c40000}
.goods-list li .good-price .btn.t-buy span{color:#ff5400}
.goods-list li .good-price .btn.buy,.goods-list li .good-price .btn.gone{right:0}
.goods-list li .good-price .btn.start,.goods-list li .good-price .btn.start_1{right:-3px;top:3px}
.goods-list li .good-price .btn.start a,.goods-list li .good-price .btn.start_1 a{width:83px;height:32px;padding-left:4px;background-position:0 -61px;color:#fff;line-height:34px;line-height:36px \9;_line-height:36px}
.goods-list li .good-price .btn.gone a{cursor:default}
.goods-list li .good-price .btn a:hover{text-decoration:none}
.goods-list li.hover .good-price .btn.buy a:hover{background-position:0 -31px}
.lingquan{width:83px;height:70px;position:absolute;right:1px;top:0;border-radius:1px;text-align:center}
.lingquan a span{width:83px;height:55px;font-size:16px;display:block;background:#27BCB5;color:#fff;overflow:hidden;line-height:27px}
.lingquan a span em{font-size:16px;color:#fff;font-style:normal;line-height:12px;font-weight:bold}
.lingquan a span em.dpq{font-size:12px}
.lingquan a b{width:83px;height:31px;display:inline-block;background:url(../images/qulingquan_ico.png) no-repeat;overflow:hidden}
.quanhoujiage{width:60px; height:24px; background:url(../images/juanhoujiage.png) no-repeat;position:absolute;left:5px;top:335px;z-index:100}
/* 20170327 */
.itemquanhoujiage{width:20px; height:42px; background:url(../images/itemquanhou.png) no-repeat;position:absolute;left:2px;top:47px;z-index:100}
.get_cupon{position:absolute;z-index:101;top:2px;width:75px;height:75px;cursor:pointer;text-align:center;line-height:20px; no-repeat}
.get_cupon em{display:inline-block;font-size:14px;color:#fff;font-style:normal}
.demo1 {
        -webkit-animation-name:'like_poof';
        -webkit-animation-duration:.6s;
        -webkit-animation-timing-function:linear;
        -webkit-animation-delay:.1s;
        -webkit-animation-iteration-count:none;
        -webkit-animation-direction:alternate;

        -moz-animation:like_poof .6s linear;
        -ms-animation:like_poof .6s linear;
        animation:like_poof .6s linear;

        -moz-animation:like_poof .6s linear;
    }
    @-webkit-keyframes like_poof {
        0% {
            margin-top:-40px;
            opacity:1;
            -webkit-transform:rotate(0deg)
        }
        25% {
            opacity:1;
            -webkit-transform:rotate(-20deg)
        }
        75% {
            -webkit-transform:rotate(20deg)
        }
        100% {
            margin-top:-90px;

            opacity:0;
            -webkit-transform:rotate(0deg)
        }
    }

    

    @-ms-keyframes like_poof {
        0% {
            margin-top:-40px;
            opacity:1;
            -ms-transform:rotate(0deg)
        }
        25% {
            opacity:1;
            -ms-transform:rotate(-20deg)
        }
        75% {
            -ms-transform:rotate(20deg)
        }
        100% {
            margin-top:-90px;

            opacity:0;
            -ms-transform:rotate(0deg)
        }
    }

    @keyframes like_poof {
        0% {
            margin-top:-40px;
            opacity:1;
            transform:rotate(0deg)
        }
        25% {
            opacity:1;
            transform:rotate(-20deg)
        }
        75% {
            transform:rotate(20deg)
        }
        100% {
            margin-top:-90px;

            opacity:0;
            transform:rotate(0deg)
        }
    }
    @-webkit-keyframes unlike_heartbreak_left {
        0% {
            opacity:1;
            margin-top:-50px;
            -webkit-transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            -webkit-transform:rotate(-15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            -webkit-transform:rotate(-15deg)
        }
    }
    @-webkit-keyframes unlike_heartbreak_right {
        0% {
            opacity:1;
            margin-top:-50px;
            -webkit-transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            -webkit-transform:rotate(15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            -webkit-transform:rotate(15deg)
        }
    }

   

    @-ms-keyframes unlike_heartbreak_left {
        0% {
            opacity:1;
            margin-top:-50px;
            -ms-transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            -ms-transform:rotate(-15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            -ms-transform:rotate(-15deg)
        }
    }
    @-ms-keyframes unlike_heartbreak_right {
        0% {
            opacity:1;
            margin-top:-50px;
            -ms-transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            -ms-transform:rotate(15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            -ms-transform:rotate(15deg)
        }
    }

    @keyframes unlike_heartbreak_left {
        0% {
            opacity:1;
            margin-top:-50px;
            transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            transform:rotate(-15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            transform:rotate(-15deg)
        }
    }
    @keyframes unlike_heartbreak_right {
        0% {
            opacity:1;
            margin-top:-50px;
            transform:rotate(0deg)
        }
        30% {
            opacity:1;
            margin-top:-55px;
        }
        80% {
            opacity:0;
            margin-top:-10px;
            transform:rotate(15deg)
        }
        100% {
            opacity:0;
            margin-top:-10px;
            transform:rotate(15deg)
        }
    }
    .unliked span {
        background-position:-45px -63px;
        display:block;
        height:100%;
        left:50%;
        position:absolute;
        top:0;
        margin-top:-56px;
    }
    .unliked span.heart_left {
        background-position:-45px -63px;
        margin-left:-25px;
        width:27px;
        height:38px;
        opacity:0;
        -webkit-transform-origin:26px 54px;
        
        -ms-transform-origin:26px 54px;
        -o-transform-origin:26px 54px;
        transform-origin:26px 54px;
        -webkit-animation:unlike_heartbreak_left .6s ease-out;
      
        -ms-animation:unlike_heartbreak_left .6s ease-out;
        -o-animation:unlike_heartbreak_left .6s ease-out;
        animation:unlike_heartbreak_left .6s ease-out
    }
    .unliked span.heart_right {
        background-position:-77px -63px;
        width:27px;
        height:38px;
        opacity:0;
        -webkit-transform-origin:0 54px;
       
        -ms-transform-origin:0 54px;
        -o-transform-origin:0 54px;
        transform-origin:0 54px;
        -webkit-animation:unlike_heartbreak_right .6s ease-out;
        
        -ms-animation:unlike_heartbreak_right .6s ease-out;
        -o-animation:unlike_heartbreak_right .6s ease-out;
        animation:unlike_heartbreak_right .6s ease-out
    }
/*this is like-ceng*/
.goods-list li .like-ceng{ height:48px;background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);zoom:1;position:absolute;top:237px;width:265px;
left:0; padding:0 0 0 0px; display:none; z-index:99}
:root #aaa{filter:none\9}/*for IE9*/
.goods-list li .like-ceng .iphone-ico{ width:20px; height:29px;background-position:right -185px; display:block; float:left; margin:9px 0}
.goods-list li .like-ceng .tips{ float:left; color:#fff; padding:5px 0 7px 20px}
.goods-list li .like-ceng p{line-height:18px}
.goods-list li .like-ceng .tips em{ background:#ff3838; padding:2px 5px; border-radius:2px}
.goods-list li:hover{border:#ed145b solid 1.5px;box-shadow:0px 0px 20px #b66262}
.goods-list li.hover .my-like{display:block}
.goods-list li.hover .good-price .btn.buy span{color:#fff}
.goods-list li.hover .good-price .btn.buy a .b-icon{background-position:right -105px}
.goods-list li.hover .good-price .btn.buy{right:10px;top:3px}
.goods-list li.hover .good-price .btn.start{right:-3px;top:3px}
.goods-list li.hover .good-price .btn.gone a{background:none;color:#f8285c}
.goods-list li.hover .good-price .btn.buy .j-icon,.goods-list li.hover .good-price .btn.buy .m-icon,.goods-list li.hover .good-price .btn.buy .t-icon{display:none}
.goods-list li.hover .quan-hd{display:block}
.quan-hd,.box-hd{display:none}
.quan-hd .mask-bg{cursor:default}
.go-quan{ display:block; position:absolute; top:110px; left:83px; width:120px; height:80px;cursor:pointer; text-decoration:none; background:url(../images/quan_tag_wait.png) no-repeat;z-index:12}
.go-quan-red{background:url(../images/quan_tag_buy.png) no-repeat}
.go-quan em.other{ top:12px; font-size:20px}
.go-quan em{ position:absolute; top:5px; left:15px; width:50px; height:30px; font-size:26px; color:#fff; font-family:"微软雅黑","verdana";  overflow:hidden}
.go-quan em i{ font-size:12px; font-style:normal}
.mask-bg{cursor:pointer; display:block;position:absolute; top:0; left:0;width:285px; height:285px;background:#fff;  opacity:.5; filter:alpha(opacity=50);z-index:10}
/*goods-list by cn666 end*/
/*brand-list-h by cn666 start*/
.npage{ height:650px}
.brand-list-h{width:1005px;height:auto;overflow:hidden}
.brand-list-h ul li{float:left;width:310px;height:auto;margin:0 25px 25px 0}
.brand-list-h ul li .pic a{display:block;width:310px;height:100px;overflow:hidden}
.brand-list-h ul li .detail{height:40px;background:#fff;line-height:40px;padding:0 10px}
.brand-list-h ul li .detail .title{width:250px;height:40px;overflow:hidden}
.brand-list-h ul li .detail .title a{font-size:14px;font-weight:bold;color:#333}
.brand-list-h ul li .detail a.go{width:28px;height:15px;margin-top:7px;padding:5px 0}
/*brand-list-h by cn666 end*/
/*brand-list by cn666 strart*/
.main .brand-list{ height:248px;overflow:hidden; margin:0 auto; clear:both}
.main .brand-list li{ float:left; width:285px; display:inline; height:auto;background:#fff; margin:7.5px; padding-bottom:10px}
.main .brand-list li .list{ width:285px; height:auto; position:relative}
.main .brand-list li .list .pic img{width:285px; height:150px}
.main .brand-list li .list .left-show{width:150px}
.main .brand-list li .list .discount{text-align:right;margin:15px 15px 0 0;color:#666;font-weight:normal}
.main .brand-list li .list .title{ font-weight:normal; height:16px; line-height:16px;padding:0 0 10px 10px; margin:10px 0 0; border-bottom:#e2e2e2 dashed 1px}
.main .brand-list li .list .title a{ color:#333; font-size:14px}
.main .brand-list li .list .right-show{ width:80px; height:40px;margin:20px 10px 0 0}
.main .brand-list li .list .start-time{ width:200px; padding:10px 0 0 10px;color:#ababab}
.main .brand-list li .list .start-time b{ color:#a2d378; margin:0 2px}
.main .brand-list li .list .start-time .icon-clock{  height:16px; width:16px; display:inline-block; float:left; margin-top:2px}
.hot-brand .brand-list{height:auto;overflow:auto}
.hot-brand .brand-list li .list .right-show{margin:6px 0 0 10px}
/*brand-list by cn666 end*/
.main .brand-box{width:100%}
.main .normal-title{height:40px;line-height:40px;background:#fff;margin:20px 0}
.main .normal-title .title {
    background:url(../images/normal-title-bg.gif) no-repeat right #ff3366;
	font-size:20px;font-family:"微软雅黑";color:#fff;
	display:inline-block;
	padding:0 20px;
	float:left;
}
.main .normal-title .title h3{font-weight:normal}
.main .normal-title .txt{font-size:14px;color:#666;margin-right:10px}
/*advance-nav by cn666 start*/
.advance-nav{ height:40px; margin:0px auto 0; background:#f8f8f9}
.advance-nav ul li{ float:left; line-height:40px;border-right:#f2f1ed solid 1px}
.advance-nav ul li a{ color:#666; display:block; padding:0 25px}
.advance-nav ul li a:hover{ text-decoration:underline}
.advance-nav ul li a.active{ font-weight:bold; color:#f36; background:#fff}
.advance-nav ul li a.active:hover{ text-decoration:none}
.advance-nav .tips{ margin:10px 30px 0 0;font-size:14px; font-family:"微软雅黑", serif}
.advance-nav .tips .time{ background:#c7c7c7; display:inline-block; padding:0 5px;border-radius:3px; color:#fff}
.advance-nav .tips .icon-tips{ background:url(../images/clock.gif) no-repeat; height:14px; width:14px; display:inline-block; vertical-align:middle; margin-right:3px}
/*place-show by cn666 start*/
.place-show{ width:auto; height:auto;overflow:hidden; margin:0 0 20px}
.place-show .place-explain{padding:0}
.place-show .place-explain a {
    margin:0 5px;
}
.place-show .place-explain a:hover{ color:#5e5e5e; text-decoration:underline}
.place-show .place-explain .current-a{width:435px;
overflow:hidden;
white-space:nowrap;
}
.place-show .type-nav{color:#919191}
.place-show .type-nav a{ padding:0 5px;color:#919191}
/*place-show by cn666 end*/
/*zhe-list by cn666 end*/
.main .zhe-more{ width:976px; text-align:center; font-size:16px; height:38px;  border:#fff solid 2px; overflow:hidden; line-height:38px;margin:0 auto;*margin-top:25px;_margin-top:0}
.main .zhe-more a{ color:#0289cd; display:block; text-decoration:underline;background:#f9f9f9}
.main .zhe-more a em{ color:#ff3838}
.main .zhe-more a:hover{ text-decoration:none; background:#fefefe}

.page {
	padding-top:30px;
	*margin-top:30px;
    _margin-top:30px;
    clear:both;
    overflow:hidden;
    text-align:center;
}
.page div{margin:0 auto}

.top100 {
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:40px;
	background:url(../images/top100.png) no-repeat;
	text-align:center;
	line-height:30px;
	color:white;
	font-size:20px;
	font-family:Arial;
	z-index:2;
}
.sub-nav1 {
	margin:15px auto;
	background-color:#fff;
	border:1px solid #e5e5e5
}

.sub-nav1 .nav-info {
	display:table-cell;
	width:1%;
	height:80px;
	text-align:center;
	position:relative;
	box-sizing:border-box
}

.nav-info:nth-child(2) {
	border-right:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5
}

.sub-nav1 .nav-info .q-pic {
	display:inline-block;
	width:52px;
	height:62px;
	margin-right:10px;
	background:url("../images/topbtn.png") no-repeat;
	position:absolute;
	top:10px;
	left:110px
}

.sub-nav1 .nav-info p {
	padding-top:14px;
	margin-left:80px
}

.sub-nav1 .nav-info span {
	display:inline-block;
	margin-left:80px
}

.sub-nav1 .nav-info.sale-rank a .q-pic {
	background-position:-62px 0
}

.sub-nav1 .nav-info.top-rank a .q-pic {
	background-position:-124px 0
}

.sub-nav1 .nav-info:hover {
	background-color:#E8F3FF
}
.quan-rank:hover,.quan-rank.active {
	border-bottom:2px solid #e94643
}

.sale-rank:hover,.sale-rank.active {
	border-bottom:2px solid #00b2b2
}

.top-rank:hover,.top-rank.active {
	border-bottom:2px solid #962bff
}
