.am-form-field {
  display: block;
  width: 100%;  
  font-size: 1.6rem;
  line-height: 1.2;
  color: #555555;
  vertical-align: middle;
  background-color: #fff6f8;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.am-form-field:focus {
  outline: 0;
}

/* Text align */
@media only screen {
  .am-text-left {
    text-align: left !important;
  }
.am-text-left *{
 -webkit-user-select: all!important;
}  
  .am-text-right {
    text-align: right !important;
  }
  .am-text-center {
    text-align: center !important;
  }
  .am-text-justify {
    text-align: justify !important;
  }
}

/*
.@{ns}text-xxs {
  font-size: @font-size-xxs;
}
*/
.am-text-mss {
  font-size: 1.0rem;
}
.am-text-xs {
  font-size: 1.2rem;
}
.am-text-sm {
  font-size: 1.4rem;
}
.am-text-lg {
  font-size: 1.8rem;
}
.am-text-xl {
  font-size: 2.4rem;
}
.am-text-xxl {
  font-size: 3.2rem;
}
.am-text-xxxl {
  font-size: 4.2rem;
}

/* ==========================================================================
   Component: Close
 ============================================================================ */
.am-close {
  display: inline-block;
  text-align: center;
  width: 24px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.am-close:hover,
.am-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  outline: none;
}
.am-close[class*="am-icon-"] {
  font-size: 16px;
}
button.am-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  /* Needed for Sarari */
  border: 0;
  -webkit-appearance: none;
}
a.am-close:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* Modifiers
 ============================================================================ */
.am-close-alt {
  border-radius: 50%;
  background: #eee;
  opacity: 0.7;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  /* Hover */
}
.am-close-alt:hover,
.am-close-alt:focus {
  opacity: 1;
}
.am-close-spin:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.am-panel-title {
  margin: 0;
  font-size: 100%;
  color: inherit;
}
.am-panel-title > a {
  color: inherit;
}
.am-panel-hd {
  padding: 0.6rem 1.25rem;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.am-padding-left-0 {
  padding-left: 0!important;
}
.am-padding-right-0 {
  padding-right: 0!important;
}
.fq-goods {border: 2px dashed #ffd4de;background: #fff6f8;margin:10px}   
.am-form-field {border: 0}
.am-form-field:focus {background: 0;border: 0;-webkit-box-shadow: none;box-shadow: none}
.fq-explain {position: absolute;width: 180px;margin-top: -10px;right: 20%;left: 20%;color: #f54d23}
.pt10{padding-top:10px;padding-bottom:20px}